*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 400;
    Line-height: 1.25;
    color: #222222;
    text-align: left;
    background-color: #fafafa;

}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
p{
    margin-bottom: 10px;
}
.section{
    float: left;
    width: 100%;
}
.container{
    float: none;
    width: 1200px;
    margin: 0 auto;
}
